.Todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg);
  border-radius: 5px;

  max-width: 100%;
  padding-block: 15px;
  padding-inline: 15px;
}

.Todo h3 {
  width: 75%;
  max-width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 22px;
  font-weight: 400;
}
.Todo span {
  width: 30px;
  height: 10px;
  border-radius: 5px;
}
