@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

:root {
  --primary-bg: #00131a;
  --secondary-bg: #24303c;
  --primary-color: #dddddd;

  --primary: #00a8e8;

  --danger: hsl(3, 98%, 50%);
  --medium: hsl(33, 98%, 50%);
  --success: hsl(120, 98%, 50%);

  --page-padding: max(5%, calc((100vw - 600px) / 2));
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary-color);

  font-family: "Raleway", sans-serif;
}

input[type="checkbox"] {
  all: unset;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary);
  background-color: var(--primary-bg);
  border-radius: 3px;
  cursor: pointer;

  display: grid;
  place-items: center;
}
input[type="checkbox"]:checked {
  background: var(--primary);
}
input[type="checkbox"]:checked:before {
  content: "-";
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-top: -2px;
}
